[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=liuxu
WorkingDirectory=/home/liuxu/sites/SITENAME/source
ExecStart=/home/liuxu/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket notes.wsgi:application

[Install]
WantedBy=multi-user.target